:root {
  --bg-color: #212121;
  --font-color: #fff;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: source-code-pro, monospace;
  background-color: var(--bg-color);
  color: var(--font-color);
}